/* Admonition container */
.admonition.info {
  --color: var(--sky);
}

.admonition.warning {
  --color: var(--yellow);
}

.admonition.error {
  --color: var(--red);
}

.admonition.success {
  --color: var(--green);
}

.admonition.example {
  --color: var(--muave);
}

.admonition.tip {
  --color: var(--teal);
}

.admonition.note {
  --color: var(--blue);
}

.admonition {
  position: relative;
  margin: 1rem 0;
  padding: 0 0.75rem;
  border-left: 0.25rem solid;
  overflow: auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: color-mix(in srgb, var(--color) 10%, transparent);
  border-color: var(--color);
}

.admonition .admonition-title {
  font-weight: bold;
  margin: 0 -0.75rem;
  padding: 0.25rem 2.3rem;
  /* border-bottom: 1px solid; */
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border-bottom-color: var(--color);
  background-color: color-mix(in srgb, var(--color) 20%, transparent);
}

.admonition .admonition-content {
  padding: 0.5rem 0;
}

.admonition .admonition-title .icon {
  font-size: 0.85rem;
  position: absolute;
  left: 0.4rem;
  color: var(--color);
}

.admonition .details-icon {
  position: absolute;
  top: 0.6rem;
  right: 0.3rem;
}

.admonition:last-child {
  margin-bottom: 0.75rem;
}
