.grid {
  margin: 0 auto;
  padding: 0;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.grid.is-ready {
  opacity: 1;
}

.grid-sizer,
.grid-item {
  width: 30%;
}
.grid-item--width-m {
  width: 60%;
}
.grid-item--width-l {
  width: 90%;
}

.gutter-sizer {
  width: 1em;
}

.grid-item {
  float: left;
  display: block;
  margin-bottom: 1em;
  padding: 0;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 1px var(--fg2);
  transition: all 0.3s ease;
  overflow: hidden;
}

.grid-item:hover {
  box-shadow: 0px 0px 10px var(--rosewater);
}

.grid-item img {
  border: none;
}

.project-content {
  padding: 1.4em;
}

.project-content .title {
  padding: 0;
  margin-top: 0;
  margin-bottom: -0.2em;
  font-size: 1.5em;
  border: none !important;
}

.project-content .date {
  padding: 0;
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
  margin-left: 0;
  margin-right: 0;
  color: #828282;
}

.project-content p {
  font-size: 80%;
}

@media (max-width: 600px) {
  .grid-sizer,
  .grid-item {
    width: 100%;
    max-width: 100%;
  }
  .grid {
    margin: 0;
  }
}
