{{ range $pageIndex, $page := .Pages }}
  <article class="post">
    <div class="post-header">
      <h2>
          {{ if $page.Params.external_url }}
          <a href="{{ $page.Params.external_url }}" class="link--external" target="_blank" rel="noreferrer">{{ .Title | markdownify }}</a>
          {{ else }}
          <a href="{{  default .RelPermalink  }}">{{ .Title | markdownify }}</a>
          {{ end }}
      </h2>
      {{ partial "post-meta.html" (dict "page" . "pageIndex" $pageIndex) }}
    </div>

    <div class="post-content">
      {{ with .Description }}
        {{ . }}
      {{ else }}
        {{ .Summary }}
        {{ if .Truncated }}
          <div class="post-content__read-more">
            <a href="{{ .RelPermalink }}">Read more &gt;</a>
          </div>
        {{ end }}
      {{ end }}
    </div>
  </article>
{{ end }}

{{ partial "pagination.html" . }}
